body {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-image: url(images/polygonrsz.png);
    background-repeat: no-repeat;
    overflow: hidden;
    font-family: 'Hind Siliguri', sans-serif;
    text-align: right;
    overflow: hidden;
    color: white;
}

nav {
    color: white;
    float: left;
    top: 0;
    text-align: right;
    width: 25%;
    padding-right: 2em;
    display: none;
}

nav>a {
    font-size: 1.5em;
    font-family: 'Varela Round', sans-serif;
    color: white;
    text-decoration: none;
}

.header {
    padding-right: 0.5em;
}

.header:hover {
    border-right: 1px solid white;
}

.snippet {
    box-sizing: border-box;
    display: none;
    width: 560px;
    background-color: rgba(255, 255, 255, 0.3);
    float: left;
    padding: 1em 1em 1em 1em;
    box-sizing: border-box;
    font-size: 1.1em;
    text-align: justify;
}

.selected {
    display: block;
}

.LangDiv {
    box-sizing: border-box;
    width: 100%;
    height: 2em;
    background-color: #b03554;
    margin: 0.5em;
    padding: 0 1em;
    border-radius: 15px 0px;
}

.CodeName {
    text-align: right;
    display: inline-block;
    font-size: 1.3em;
    width: 27%;
    margin: 0;
    padding-right: 3%;
    float: left;
    text-shadow: -2px 2px 6px #4a1321;
}

.level {
    background-color: white;
    height: 1em;
    border-radius: 0 0 10px 0;
    padding: 0;
    float: left;
    margin-top: 2%;
    box-shadow: -2px 2px 6px #4a1321;
}

.SIMPLonMARS>a {
    text-align: right;
    text-decoration: none;
    color: white;
}

.Portfolio div img {
    padding: 0.5em;
    width: 25%;
    float: left;
}

hr {
    border: 1px solid white;
    color: white;
    clear: both;
    width: 100%;
}

.even {
    max-width: 70%;
    float: left;
}

p.even {
    margin: 0.3%;
}

.contact {
    position: fixed;
    bottom: 0;
    right: 0;
}

.contact>a>img {
    width: 2em;
    display: block;
    padding: 5%;
}

h1, h2 {
    font-size: 4em;
    margin: 0;
    position: absolute;
    color: white;
}

h2 {
    right: 5%;
    bottom: 115vh;
}

h1 {
    right: 5%;
    line-height: 1em;
    bottom: 105vh;
}

@media (max-width: 800px) {
    nav {
        display: block;
        width: 100%;
        margin-top: 20vh;
        padding: 0;
        text-align: center;
    }
    .snippet {
        width: 100%;
        padding: 1em 2em;
        margin-top: 75vh;
        position: absolute;
    }
    h2, h1 {
        font-size: 2em;
        margin: 0;
        position: absolute;
        right: 3em;
    }
    .header:hover {
        border-right: 0;
        background-color: rgba(255, 255, 255, 0.2);
    }
    .contact {
        background-color: rgba(255, 255, 255, 0.3);
        padding: 0.4em;
        margin: auto;
        float: left;
        width: 5em;
        bottom: auto;
    }
    a>img, img {
        padding: 2%;
        display: inline;
        float: left;
    }
    p.even {
        margin: 0.6%;
    }
    body {
        overflow-y: auto;
    }
    .borderbtt {
        border: 0.5px solid white;
        margin: 0 2em;
        padding: 1em 0;
        background-color: rgba(255, 255, 255, 0.2);
    }
}
